@-ms-viewport {
    width: device-width;
}

html, body {
	min-height: 100%;
}

body {
    background-image: url(../images/bg-bright.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    font-family: 'Lato', sans-serif;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
em,
i {
    font-family: 'Lato', sans-serif;
}

.logo {
    opacity: 0
}

.main-nav {
    margin-top: 40px;
    opacity: 0;
    text-align: center;
}

#preload {
    background: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
}

#preload img {
    opacity: 0;
    display: block;
    margin: -100px auto 0;
}

.inner-page {
    background: url(../images/bg.jpg) top right no-repeat;
}

.inner-page.inner-page-contact {
    background: url(../images/bg-left.jpg) top left no-repeat;
}

.content {
    padding-left: 50px;
    padding-top: 90px;
    text-align: justify;
}

@media (max-width: 768px) {
    .content {
        padding: .5rem 1rem;
        margin: .5rem 1rem;
    }

    .content h1 {
    	padding: 0;
    	font-size: 1.4em;
    	border: none;
    	margin: 0 0 25px;
    }
}

h1 {
    display: block;
    border-left: 4px solid black;
    padding-left: 20px;
    margin-bottom: 40px;
}